.layout {
  .bg-animated {
    transition: background-color 2.5s;
  }

  .mt-75 {
    margin-top: 75px;
  }

  .fullheight {
    height: 100%;

    &.mt-75 {
      height: calc(100% - 75px);
    }
  }

  nav.navbar.navbar-header-menu {
    /* border-top: 1px solid #fff;
    border-bottom: 1px solid transparent; */
    background-color: transparent;
    color: #fff;
    padding: 0 1rem;
    height: 64px;

    &.navbar-animated {
      transition: border 1s, background-color 1.5s, color 1.5s;
    }

    &.navbar-top {
      /* border-top: 1px solid transparent;
      border-bottom: 1px solid #fff; */
      background-color: #fff;
      color: #2c3033;

      .navbar-nav > .active > a,
      .navbar-nav > .active > a:hover,
      .navbar-nav > .active > a:focus {
        background-color: rgba(0, 0, 0, .05);
      }
    }

    #header-menu {
      filter: url('#img-small-drop-shadow');
    }

    img.img-avatar {
      width: 44px;
      position: relative;
      top: -9px;
    }

    .username {
      position: relative;
      top: -5px;
    }

    .navbar-toggler {
      top: 5px;
      position: relative;
      font-size: 167%;
    }

    .navbar-brand {
      width: 85px;
    }

    .navbar-nav  > .nav-item {
      position: relative;
      margin-left: 0;

      & > a {
        height: 64px;
        line-height: 32px;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: 700;
      }
    }

    .navbar-brand {
      height: 64px;
      padding: 11px 0;
      line-height: 1em;
    }
  }

  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  #large-header {
    background-color: transparent;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    .img.img-absolute {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    #bg-canvas {
      position: absolute;
    }
  }

}

@media (max-width: 991px) {
  nav.navbar.navbar-header-menu #header-menu.navbar-toggleable-md.in {
    background-color: #fff;
    color: #2c3033;

    .nav-item:not(:first-of-type) {
      border-top: 1px solid #ddd;
    }
  }
}
