section.card.general(tjsMaterialize)
  .card-block
    h4.card-title
      i.fa.fa-home
      | &nbsp;
      | General
    p.card-text This is admin panel. Here you can setup everything. :-)
levels
tags
items-types
