//- ng2-slim-loading-bar
//- nav
//-   span
//-     a([routerLink]=['./']) Index
//-   | |
//-   span
//-     a([routerLink]=['./home']) Home
//-   | |
//-   span
//-     a([routerLink]=['./detail']) Detail
//-   | |
//-   span
//-     a([routerLink]=['./about']) About
//- main(tjsMaterialize)
//-   router-outlet
//- pre.app-state this.appState.state = {{ appState.state | json }}
//- footer
//-   span WebPack Angular 2 Starter by
//-     a([href]='url') @AngularClass
//-   div
//-     a([href]='url')
//-       img(
//-         [src]='angularclassLogo'
//-         width='25%'
//-       )
//- nav
//-   span
//-     a([routerLink]=['./']) Index
//-   | |
//-   span
//-     a([routerLink]=['./home']) Home
//-   | |
//-   span
//-     a([routerLink]=['./detail']) Detail
//-   | |
//-   span
//-     a([routerLink]=['./about']) About
//-   | |
//-   span
//-     a([routerLink]=['./get-started']) Get Started
main(tjsMaterialize)
  router-outlet
//- <div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageControlArrows]="false">
//-   <div class="section fp-section fp-table">
//-     <div class="fp-tableCell">
//-       nav
//-         span
//-           a([routerLink]=['./']) Index
//-         | |
//-         span
//-           a([routerLink]=['./home']) Home
//-         | |
//-         span
//-           a([routerLink]=['./detail']) Detail
//-         | |
//-         span
//-           a([routerLink]=['./about']) About
//-         | |
//-         span
//-           a([routerLink]=['./get-started']) Get Started
//-     </div>
//-   </div>
//-   <div class="section fp-section fp-table">
//-     <div class="fp-tableCell">
//-       | 1---
//-     </div>
//-   </div>
//-   <div class="section fp-section fp-table">
//-     <div class="fp-tableCell">
//-       <div class="slide"> Slide 1 </div>
//-       <div class="slide"> Slide 2 </div>
//-       <div class="slide"> Slide 3 </div>
//-       <div class="slide"> Slide 4 </div>
//-     </div>
//-   </div>
//-   <div class="section fp-section fp-table">
//-     <div class="fp-tableCell"> Some section 4</div>
//-   </div>
//- </div>
