nav.navbar.navbar-header-menu {
	background-color: transparent;
	border-bottom: 1px solid #fff;
	padding: 0 1rem;
	height: 64px;

	& .navbar-toggler {
		top: 5px;
    position: relative;
    font-size: 225%;
	}

	& .navbar-brand {
		width: 85px;
	}

	& .navbar-nav > .nav-item {
		position: relative;
		margin-left: 0;

		& > a {
			height: 64px;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	& .navbar-brand {
		height: 64px;
		padding: 11px 0;
		line-height: 1em;
	}
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
  background: url(../../assets/images/bg-landing.jpg) #20da9b 100% 100% no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-75%,0);
	transform: translate3d(-50%,-75%,0);
}

#anim-logo {
	display: inline-block;
	width: 500px;
}
