.courses {
  .img-wrapper {
    height: 170px;
    overflow: hidden;
  }

  .title-wrapper {
    height: 27px;
    overflow: hidden;
  }

  .description-wrapper {
    height: 225px;
    overflow: hidden;
  }
}
