section.card.home(tjsMaterialize)
  .card-block
    h4.card-title
      i.fa.fa-home
      | &nbsp;
      | Home
    p.card-text
      <button type="button" class="btn btn-secondary" ngbTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        | Default tooltip
      </button>
      <button type="button" class="btn btn-secondary" ngbTooltip="You see, I show up on click!" triggers="click:click">
        | Click me!
      </button>
      <button type="button" class="btn btn-secondary" ngbTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
        | Tooltip appended to body
      </button>
