@import '~animate-scss/animate';
@import '~font-awesome/scss/font-awesome';
// @import '~bootstrap-material-design/sass/ripples';
@import '~bootstrap-material-design/dist/css/bootstrap-material-design.css';
@import '~bootstrap-material-design/dist/css/ripples.css';
//@import '~bootstrap-material-design/dist/bootstrap-material-design.css';
@import '~ng2-slim-loading-bar/style.css';
@import '~ng2-toastr/ng2-toastr.css';
@import '~fullpage.js/dist/jquery.fullpage.css';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';
@import '~sweetalert2/dist/sweetalert2.css';
@import '~froala-editor/css/froala_editor.pkgd.css';

$tjs-red:       #db3340;
$tjs-orange:    #e8b81a;
$tjs-beige:     #f7eac8;
$tjs-teal:      #20da9b;
$tjs-lightblue: #28abe3;
$tjs-yellow:    #fef568;
$tjs-darkblue:  #0c97ce;
$tjs-gray:      #6d6e70;
$tjs-darkgray:  #2c3033;
$tjs-white:     #fff;

$tjs-colors: ('red' $tjs-red) ('orange' $tjs-orange) ('beige' $tjs-beige) ('teal' $tjs-teal) ('lightblue' $tjs-lightblue) ('yellow' $tjs-yellow) ('darkblue' $tjs-darkblue) ('gray' $tjs-gray) ('darkgray' $tjs-darkgray) ('white' $tjs-white);

@each $color-name, $color in $tjs-colors {
  .tjs-#{$color-name} {
    color: $color;
  }

  .tjs-#{$color-name}-important {
    color: $color !important;
  }

  .tjs-bg-#{$color-name} {
    background-color: $color;
  }

  .tjs-bg-#{$color-name}-important {
    background-color: $color !important;
  }
}

// @function str-replace($string, $search, $replace: "") {
//   $index: str-index($string, $search);

//   @if $index {
//     @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
//   }

//   @return $string;
// }

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::scrollbar {
    width:  $size;
    height: $size;
  }

  ::scrollbar-thumb {
    background: $foreground-color;
  }

  ::scrollbar-track {
    background: $background-color;
  }

  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
//   $src: null;

//   $extmods: (
//     eot: "?",
//     svg: "#" + str-replace($name, " ", "_")
//   );

//   $formats: (
//     otf: "opentype",
//     ttf: "truetype"
//   );

//   @each $ext in $exts {
//     $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
//     $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
//     $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
//   }

//   @font-face {
//     font-family: quote($name);
//     font-style: $style;
//     font-weight: $weight;
//     src: $src;
//   }
// }

@include scrollbars(.45em, #555);

// @include font-face('Roboto-Bold', '/assets/fonts/roboto/Roboto-Bold', 700, normal, eot woff2 woff ttf);
// @include font-face('Roboto-Light', '/assets/fonts/roboto/Roboto-Light', 300, normal, eot woff2 woff ttf);
// @include font-face('Roboto-Medium', '/assets/fonts/roboto/Roboto-Medium', 500, normal, eot woff2 woff ttf);
// @include font-face('Roboto', '/assets/fonts/roboto/Roboto-Regular', 400, normal, eot woff2 woff ttf);
// @include font-face('Roboto-Thin', '/assets/fonts/roboto/Roboto-Thin', 200, normal, eot woff2 woff ttf);


html,
body,
app,
main,
sign-up,
sign-in,
no-content,
password-reset,
.full-height {
  height: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif
}

sign-up {
  display: block;
  background-color: $tjs-orange;
}

sign-in {
  display: block;
  background-color: $tjs-darkblue;
}

password-reset {
  display: block;
  background-color: $tjs-red;
}

no-content {
  background-color: #20da9b;
}

body {
  overflow: hidden;
}

.navbar .navbar-nav > li > a {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.fp-tableCell {
  display: block;
}

.owl-carousel.owl-theme.owl-carousel-courses,
.owl-carousel.owl-theme.owl-carousel-stories,
.owl-carousel.owl-theme.owl-carousel-news {
  .owl-nav {
    display: none;
  }

  .owl-dots {
    .owl-dot {
      display: inline-block;
      position: relative;
      z-index: 1;
      width: 14px;
      height: 14px;
      cursor: pointer;
      text-decoration: none;

      & > span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        transition: all .1s ease-in-out;
      }

      &:hover > span {
        top: 4px;
        left: 3px;
        height: 10px;
        width: 10px;
      }

      &.active > span {
        top: 2px;
        left: 1px;
        height: 14px;
        width: 14px;
      }
    }
  }

  // .owl-stage-outer {
  //   &:before,
  //   &:after {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     width: 100px;
  //     height: 100%;
  //     z-index: 2;
  //   }

  //   &:before {
  //     left: 0;
  //     background: linear-gradient(90deg, #fff, transparent);
  //   }

  //   &:after {
  //     right: 0;
  //     background: linear-gradient(90deg, transparent, #fff);
  //   }
  // }
}

#anim-logo > svg {
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, .75));

  &:hover #tutorial-wrapper path {
    animation: rainbow-tutorial-stroke 30s ease-out infinite;
  }

  &:hover #js-wrapper path {
    animation: rainbow-js-stroke 30s ease-out infinite;
  }

  #dot-red {
    animation: pulse 2s ease-out infinite;
  }

  #circle-red-0 {
    stroke: #db3340 !important;
    stroke-width: 0.5 !important;
    transform: scale(4) !important;
    stroke-dasharray:100!important;
    stroke-dashoffset:50!important;
    animation: pulse-cercle-0 2s ease-out infinite;
    animation-delay: 4s;
    opacity: 0;
  }

  #circle-red-1 {
    stroke: #db3340 !important;
    stroke-width: 0.25 !important;
    transform: scale(4) !important;
    stroke-dasharray:100!important;
    stroke-dashoffset:50!important;
    animation: pulse-cercle-1 4s ease-out infinite;
    animation-delay: 4s;
    opacity: 0;
  }

  #dot-yellow {
    animation: pulse 3s ease-out infinite;
    animation-delay: 1s;
  }

  #circle-yellow-0 {
    stroke: #e8b81a !important;
    stroke-width: 0.5 !important;
    transform: scale(4) !important;
    stroke-dasharray:100!important;
    stroke-dashoffset:50!important;
    animation: pulse-cercle-0 3s ease-out infinite;
    animation-delay: 5s;
    opacity: 0;
  }

  #circle-yellow-1 {
    stroke: #e8b81a !important;
    stroke-width: 0.25 !important;
    transform: scale(4) !important;
    stroke-dasharray:100!important;
    stroke-dashoffset:50!important;
    animation: pulse-cercle-1 6s ease-out infinite;
    animation-delay: 5s;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.25);
    opacity: .75;
  }

  100% {
    transform: scale(.75);
    opacity: 1;
  }
}

@keyframes pulse-cercle-0 {
  0% {
    transform: scale(4);
    opacity: 1;
  }

  100% {
    transform: scale(7);
    opacity: 0;
  }
}

@keyframes pulse-cercle-1 {
  0% {
    transform: scale(4);
    stroke-width: .25;
    opacity: 1;
  }

  50% {
    transform: scale(7);
    stroke-width: .25;
    opacity: 0.75;
  }

  100% {
    transform: scale(9);
    stroke-width: .15;
    opacity: 0;
  }
}

@keyframes rainbow-tutorial-stroke {
  0% {
    stroke: #2c3033;
  }

  12.5% {
    stroke: #d9534f;
  }

  25% {
    stroke: #f0ad4e;
  }

  37.5% {
    stroke: #ffeb3b;
  }

  50% {
    stroke: #5cb85c;
  }

  62.5% {
    stroke: #5bc0de;
  }

  75% {
    stroke: #0275d8;
  }

  87.5% {
    stroke: #563d7c;
  }

  100% {
    stroke: #2c3033;
  }
}

@keyframes rainbow-js-stroke {
  0% {
    stroke: #0c97ce;
  }

  12.5% {
    stroke: #d9534f;
  }

  25% {
    stroke: #f0ad4e;
  }

  37.5% {
    stroke: #ffeb3b;
  }

  50% {
    stroke: #5cb85c;
  }

  62.5% {
    stroke: #5bc0de;
  }

  75% {
    stroke: #0275d8;
  }

  87.5% {
    stroke: #563d7c;
  }

  100% {
    stroke: #0c97ce;
  }
}

.bottom-right-actions-container {
  position: fixed;
  bottom: 15px;
  right: 50px;
  text-align: right;
}

.right-actions-container {
  position: absolute;
  right: -28px;
  top: 11px;
}

color-picker > .color-picker {
  margin-left: calc(-50% - 115px);
  margin-top: -30px;
}
