nav.navbar.navbar-inverse.bg-faded
  a.navbar-brand(href='#') Navbar
  ul.nav.navbar-nav
    li.nav-item.active
      a.nav-link(href='#')
        | Home 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#') Features
    li.nav-item
      a.nav-link(href='#') Pricing
    li.nav-item
      a.nav-link(href='#') About
  form.form-inline.pull-xs-right
    input.form-control(type='text', placeholder='Search')
    button.btn.btn-outline-success(type='submit') Search
h1.header
  | Input
  small
    a(href='http://www.google.com/design/spec/components/text-fields.html') specification
.inputs
  h2
    | Input label styles
    small default sizing
  .form-group.label-static
    label.control-label(for='i2') label-static
    input#i2.form-control(type='email', placeholder='placeholder attribute')
    p.help-block
      | This is a hint as a 
      code p.help-block.hint
  .form-group.label-floating
    label.control-label(for='i5') label-floating
    input#i5.form-control(type='email')
    span.help-block
      | This is a hint as a 
      code span.help-block.hint
  .form-group.label-placeholder
    label.control-label(for='i5p') label-placeholder
    input#i5p.form-control(type='email')
    span.help-block
      | This is a hint as a 
      code span.help-block.hint
  form
    .form-group
      label.control-label.col-sm-2(for='i5ps') Column label
      .col-sm-10
        input#i5ps.form-control(type='email', placeholder='placeholder attribute')
        span.help-block
          | This is a hint as a 
          code span.help-block.hint
  br
  br
  h2
    | Input - floating labels
    small form-group sizing
  .form-group.form-group-sm.label-floating
    label.control-label(for='i4') Email address form-group-sm
    input#i4.form-control(type='email')
    span.help-block Please enter a valid email address
  .form-group.label-floating
    label.control-label(for='i5i') Email address default size
    input#i5i.form-control(type='email')
    span.help-block Please enter a valid email address
  .form-group.form-group-lg.label-floating
    label.control-label(for='i6') Email address form-group-lg
    input#i6.form-control(type='email')
    span.help-block Please enter a valid email address
  h2
    | Input - static labels
    small form-group sizing
  .form-group.form-group-sm.label-static
    label.control-label(for='si4') Email address form-group-sm
    input#si4.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  .form-group.label-static
    label.control-label(for='si5i') Email address default size
    input#si5i.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  .form-group.form-group-lg.label-static
    label.control-label(for='si6') Email address form-group-lg
    input#si6.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  h2
    | Input - no labels
    small form-group sizing
  .form-group.form-group-sm
    label.control-label(for='si4n') Email address form-group-sm
    input#si4n.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  .form-group
    label.control-label(for='si5in') Email address default size
    input#si5in.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  .form-group.form-group-lg
    label.control-label(for='si6n') Email address form-group-lg
    input#si6n.form-control(type='email', placeholder='Placeholder')
    span.help-block Please enter a valid email address
  h2
    | Input -
    small floating label feedback variants
  .form-group.has-success.label-floating
    label.control-label(for='f1') Email address has-success
    input#f1.form-control(type='email')
    span.help-block Please enter a valid email address
  .form-group.has-warning.label-floating
    label.control-label(for='f2') Email address has-warning
    input#f2.form-control(type='email')
    span.help-block Please enter a valid email address
  .form-group.has-error.label-floating
    label.control-label(for='f3') Email address has-error
    input#f3.form-control(type='email')
    span.help-block Please enter a valid email address
  h2 Input - Legacy
  // Exercise backwards compatibility without form-group
  input.form-control.floating-label(type='text', placeholder='Legacy floating label as placeholder attribute', data-hint='This is a hint using a legacy <code>data-hint</code> attribute on the input')
  h2 Textarea
  .form-group.label-floating
    label.control-label(for='t1') Floating label
    textarea#t1.form-control
  .form-group
    textarea.form-control(placeholder='placeholder without label')
  // legacy markup
  textarea.form-control.floating-label(placeholder='legacy floating label as placeholder')
  h2 Validation
  .form-group.label-floating
    label.control-label(for='111') email
    input#111.form-control(type='email')
  .form-group.label-floating
    label.control-label(for='222') number
    input#222.form-control(type='number')
  h2 Disabled
  .form-group.label-floating
    label.control-label(for='333') email
    input#333.form-control(disabled='', type='text')
  .form-group.label-floating
    label.control-label(for='444') number
    input#444.form-control(disabled='', type='text')
  h2 Hints
  .form-group.label-floating
    label.control-label(for='555') label
    input#555.form-control(type='text')
    p.help-block Some helpful hint
  .form-group.label-floating
    label.control-label(for='676') label
    input#676.form-control(type='email')
    p.help-block A valid email contains an @ character
  h2 Styling
  .form-group.has-success
    input.form-control(type='text', placeholder='placeholder')
  .form-group.has-success.label-floating
    label.control-label(for='777') floating label
    input#777.form-control(type='text')
